model_list:
  - model_name: default
    litellm_params:
      model: os.environ/LOCAL_DEFAULT_MODEL
      api_base: os.environ/LOCAL_LLM_API_BASE
      api_key: os.environ/LOCAL_LLM_API_KEY
      max_budget: os.environ/LITELLM_BUDGET_DEFAULT
      budget_duration: os.environ/LITELLM_BUDGET_DURATION

  - model_name: fast
    litellm_params:
      model: os.environ/LOCAL_FAST_MODEL
      api_base: os.environ/LOCAL_LLM_API_BASE
      api_key: os.environ/LOCAL_LLM_API_KEY
      max_budget: os.environ/LITELLM_BUDGET_FAST
      budget_duration: os.environ/LITELLM_BUDGET_DURATION

  - model_name: embedding
    litellm_params:
      model: os.environ/LOCAL_EMBEDDING_MODEL
      api_base: os.environ/LOCAL_EMBEDDING_API_BASE
      api_key: os.environ/LOCAL_EMBEDDING_API_KEY
      max_budget: os.environ/LITELLM_BUDGET_EMBEDDING
      budget_duration: os.environ/LITELLM_BUDGET_DURATION

litellm_settings:
  num_retries: 1
  request_timeout: 180
  fallbacks:
    - default: ["fast"]

general_settings:
  master_key: os.environ/LITELLM_MASTER_KEY
